<div class="todo-container">
  <div class="todo-form">
    <app-new-task></app-new-task>
  </div>
  <div class="todo-buttons">
    <button class="toggle-button" (click)="toggleCompletedTasks()">
      {{ showCompletedTasks ? 'HIDE COMPLETED TASKS' : 'SHOW COMPLETED TASKS' }}
    </button>
    <button (click)="clearCompletedTasks()">CLEAR COMPLETED TASKS</button>
    <button (click)="clearAll()">CLEAR ALL</button>
  </div>
  <div class="todo-list_container">
    <div class="todo-list_todo">
      <app-todo-item
        *ngFor="let todo of todos"
        [todo]="todo"
      ></app-todo-item>
    </div>
  </div>
</div>
